<% content_for :outside_container do %>
  <div class="jumbotron">
    <div class="container">
      <h1><%= @feast.name %></h1>
      <p>
        Who is going:
        <% @feast.users.each do |user| %>
          <%= user %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>

<%= link_to 'Update details', edit_feast_path(@feast), class: 'btn btn-default' %>
<%= link_to 'Add more people', edit_feast_path(@feast), class: 'btn btn-default' %>